#Ignoring files
node_modules
babel_cache
build/server.bundle.js
build/server.bundle.js.map
build/public/javascripts/bundle.js
build/public/javascripts/bundle.js.map
build/public/.sass-cache
build/.vscodesendgrid.env
.env