extends layout

block content
	header#topMenu
		div.wrap
			img(src="http://www.artcritical.com/wp-content/themes/artcritical/images/logo.png")
			a Magazine
			a The List
			a The Review Panel
	div#thelist
