doctype html
html
  head
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0,  user-scalable=yes", name="viewport")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js")
    //React
    script(src="https://fb.me/react-15.0.0.js")
    script(src="https://fb.me/react-dom-15.0.0.js")
    //FontAwesome
    script(defer, src="https://pro.fontawesome.com/releases/v5.0.8/js/all.js", integrity="sha384-816IUmmhAwCMonQiPZBO/PTgzgsjHtpb78rpsLzldhb4HZjFzBl06Z3eu4ZuwHTz", crossorigin="anonymous")
    //MapBox
    link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.41.0/mapbox-gl.css' rel='stylesheet')
    //Typekit
    script(src="https://use.typekit.net/csp0cwt.js")
    script. 
        try{Typekit.load({ async: true });}catch(e){}
  body
  div#fb-root
  script
    include facebookSDK.js
  block content
    
  script(src='/javascripts/bundle.js')
  script(src='/javascripts/global.js')
    
