/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 65, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/* line 4, ../scss/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../scss/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 21, ../scss/breakpoints/_768up.scss */
.app-container {
  padding: 50px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

/* line 27, ../scss/breakpoints/_768up.scss */
h2 {
  font-size: 2em;
}

/* line 31, ../scss/breakpoints/_768up.scss */
#banner {
  width: auto;
  padding: 20px;
}
/* line 34, ../scss/breakpoints/_768up.scss */
#banner a {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
/* line 38, ../scss/breakpoints/_768up.scss */
#banner a:nth-of-type(1) {
  left: auto;
}
/* line 41, ../scss/breakpoints/_768up.scss */
#banner a:nth-of-type(4) {
  left: auto;
}
/* line 44, ../scss/breakpoints/_768up.scss */
#banner a:nth-of-type(2) {
  right: auto;
}
/* line 47, ../scss/breakpoints/_768up.scss */
#banner a:nth-of-type(3) {
  right: auto;
}

/* line 53, ../scss/breakpoints/_768up.scss */
#topMenu {
  left: 50px;
  padding: 0 20px 10px;
  background-color: transparent;
  width: auto;
  border-bottom: 0;
}

/* line 61, ../scss/breakpoints/_768up.scss */
header.mainHeader {
  position: fixed;
  left: 0;
  height: 78px;
  padding: 20px;
  border-bottom: 1px solid #eaedf2;
  width: 100%;
  text-align: center;
  background: white;
}
/* line 70, ../scss/breakpoints/_768up.scss */
header.mainHeader h1 {
  color: #323944;
  min-width: 500px;
  width: 70%;
  margin: 30px auto;
  max-width: 600px;
}
/* line 78, ../scss/breakpoints/_768up.scss */
header.mainHeader nav a {
  display: inline-block;
  font-size: 1em;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #eaedf2;
  margin-right: 10px;
  color: black;
  text-decoration: none;
}
/* line 87, ../scss/breakpoints/_768up.scss */
header.mainHeader nav a:hover {
  background-color: #019476;
  color: #fff;
}
/* line 91, ../scss/breakpoints/_768up.scss */
header.mainHeader nav a.active {
  background-color: #019476;
  color: #fff;
}
/* line 97, ../scss/breakpoints/_768up.scss */
header.mainHeader div {
  display: inline-block;
}
/* line 100, ../scss/breakpoints/_768up.scss */
header.mainHeader .accountOptions {
  width: 90px;
  position: relative;
  margin-right: 10px;
}
/* line 104, ../scss/breakpoints/_768up.scss */
header.mainHeader .accountOptions a {
  padding: 5px 0px;
  margin-right: 0;
  display: none;
  position: absolute;
  width: 90px;
}
/* line 110, ../scss/breakpoints/_768up.scss */
header.mainHeader .accountOptions a:first-child {
  display: block;
  position: relative;
}
/* line 114, ../scss/breakpoints/_768up.scss */
header.mainHeader .accountOptions a:nth-child(2) {
  top: 100%;
}
/* line 117, ../scss/breakpoints/_768up.scss */
header.mainHeader .accountOptions a:nth-child(3) {
  top: 200%;
}
/* line 122, ../scss/breakpoints/_768up.scss */
header.mainHeader .accountOptions:hover a {
  display: block;
}

/* line 128, ../scss/breakpoints/_768up.scss */
#header {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/* line 135, ../scss/breakpoints/_768up.scss */
.menu {
  position: relative;
}

/* line 139, ../scss/breakpoints/_768up.scss */
#sortPanel {
  width: 200px;
  top: 100px;
}
/* line 142, ../scss/breakpoints/_768up.scss */
#sortPanel .wrap {
  width: auto;
}
/* line 144, ../scss/breakpoints/_768up.scss */
#sortPanel .wrap a {
  display: table;
}

/* line 150, ../scss/breakpoints/_768up.scss */
#banner, #introPanel.active, #loginPanel, #sharePanel, #sortPanel {
  overflow: auto;
  position: relative;
  top: auto;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

/* line 157, ../scss/breakpoints/_768up.scss */
#introPanel {
  padding: 20px;
}

/* line 161, ../scss/breakpoints/_768up.scss */
#aboutPanel {
  display: none;
}

/* line 165, ../scss/breakpoints/_768up.scss */
#thelist {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* line 174, ../scss/breakpoints/_768up.scss */
.edit-page .container {
  display: block;
}
/* line 20, ../scss/neat/mixins/_clearfix.scss */
.edit-page .container::after {
  clear: both;
  content: "";
  display: block;
}
/* line 176, ../scss/breakpoints/_768up.scss */
.edit-page .container .header {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 23.2317609825%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px;
}
/* line 89, ../scss/neat/grid/_span-columns.scss */
.edit-page .container .header:last-child {
  margin-right: 0;
}
/* line 184, ../scss/breakpoints/_768up.scss */
.edit-page .container .content {
  margin-left: 25.5894130058%;
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 74.4105869942%;
}
/* line 89, ../scss/neat/grid/_span-columns.scss */
.edit-page .container .content:last-child {
  margin-right: 0;
}

/* line 196, ../scss/breakpoints/_768up.scss */
.listing p {
  font-size: 16px;
}

/* line 203, ../scss/breakpoints/_768up.scss */
.glance ul.tabs__labels {
  padding: 0;
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 14.7019566472%;
}
/* line 89, ../scss/neat/grid/_span-columns.scss */
.glance ul.tabs__labels:last-child {
  margin-right: 0;
}
/* line 208, ../scss/breakpoints/_768up.scss */
.glance div.tabs__content .day {
  display: block;
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 82.9403913294%;
}
/* line 89, ../scss/neat/grid/_span-columns.scss */
.glance div.tabs__content .day:last-child {
  margin-right: 0;
}
/* line 211, ../scss/breakpoints/_768up.scss */
.glance div.tabs__content .day .listingsWrap {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 65.8807826589%;
}
/* line 89, ../scss/neat/grid/_span-columns.scss */
.glance div.tabs__content .day .listingsWrap:last-child {
  margin-right: 0;
}
/* line 214, ../scss/breakpoints/_768up.scss */
.glance div.tabs__content .day .featuredSection {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 31.7615653177%;
}
/* line 89, ../scss/neat/grid/_span-columns.scss */
.glance div.tabs__content .day .featuredSection:last-child {
  margin-right: 0;
}

/* line 221, ../scss/breakpoints/_768up.scss */
.feature-wrap .image {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
}
/* line 89, ../scss/neat/grid/_span-columns.scss */
.feature-wrap .image:last-child {
  margin-right: 0;
}
/* line 224, ../scss/breakpoints/_768up.scss */
.feature-wrap .info {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
}
/* line 89, ../scss/neat/grid/_span-columns.scss */
.feature-wrap .info:last-child {
  margin-right: 0;
}

/* line 232, ../scss/breakpoints/_768up.scss */
.mainList .left-col {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 14.7019566472%;
  position: fixed;
  float: none;
  padding-right: 4%;
}
/* line 89, ../scss/neat/grid/_span-columns.scss */
.mainList .left-col:last-child {
  margin-right: 0;
}
/* line 238, ../scss/breakpoints/_768up.scss */
.mainList .right-col {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 14.7019566472%;
}
/* line 89, ../scss/neat/grid/_span-columns.scss */
.mainList .right-col:last-child {
  margin-right: 0;
}
/* line 241, ../scss/breakpoints/_768up.scss */
.mainList .main-col {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 65.8807826589%;
  margin-left: 17.0596086706%;
}
/* line 89, ../scss/neat/grid/_span-columns.scss */
.mainList .main-col:last-child {
  margin-right: 0;
}

/* line 248, ../scss/breakpoints/_768up.scss */
.map.app-container, .mylist.connected.app-container {
  min-height: 100%;
  padding: 0;
  max-width: none;
  position: absolute;
  width: 100%;
}
/* line 254, ../scss/breakpoints/_768up.scss */
.map.app-container .app-content, .mylist.connected.app-container .app-content {
  min-height: 100%;
  position: absolute;
  width: 100%;
}

/* line 262, ../scss/breakpoints/_768up.scss */
.currentMap .mapWrap .label {
  display: block;
  position: absolute;
  background-color: #323944;
  color: #fff;
  font-size: .7em;
  margin-left: 5px;
  padding: 5px;
}
/* line 272, ../scss/breakpoints/_768up.scss */
.currentMap .list {
  top: 0;
  bottom: auto;
  max-height: 100%;
  width: 30%;
  padding: 100px 20px 20px;
}

/* line 282, ../scss/breakpoints/_768up.scss */
.mylist.app-container {
  padding: 0;
  max-width: none;
}

/* line 287, ../scss/breakpoints/_768up.scss */
.myList .mapWrap {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
/* line 294, ../scss/breakpoints/_768up.scss */
.myList .listInfo {
  margin-bottom: 20px;
  position: fixed;
  z-index: 2;
  background-color: white;
  max-width: 500px;
  top: 0;
  padding: 100px 20px;
  max-height: 100%;
  overflow: auto;
}
/* line 305, ../scss/breakpoints/_768up.scss */
.myList .popupList {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 313, ../scss/breakpoints/_768up.scss */
.myList .popupList div {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 10px;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/

/*# sourceMappingURL=ie.css.map */
