html{
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#thelist{
    min-height: 100%;
    position: relative;
}

header{
    padding: 50px 50px 0;
}

.app-content{
    padding: 0 50px 100px;
}

footer{
    padding: 0 50px 50px;
    position: absolute;
    bottom: 0;
}

.listing{
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 50%;

}

header a{
    padding: 5px 10px;
    background-color: lightgrey;
    border-radius: 5px;
    margin-right: 10px;
    color: black;
    text-decoration: none;
}

header a.active{
    background-color: antiquewhite;
}

header a:hover{
    background-color: antiquewhite;
}

.glance ul{
    padding: 0;
}

.glance li{
    display: inline-block;
    padding-right: 20px;
}

.glance li a{
    text-decoration: none;
    color: black;
}
.glance li a.active{
    border-bottom: 2px solid red;
}
