/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/


.app-container{
    //padding: 50px 20px;
    //max-width: 1400px;
    margin: 0 auto;
    .app-content{
        padding: 100px 50px;
        min-height: 100vh;
    }
}

footer{
    margin-top: -35px;
}

body{
    a{
        color: $green;
        border-bottom: 1px transparent dotted;
        @include transition(.2s);
        &:hover{
            color: $black;
            border-color: $green;
            text-decoration: none;
        }
    }
    h2{
        font-size: 2em;
    }
}


#banner{
    width: auto;
    padding: 20px;
    a{
        position: relative;
        display: inline-block;
        margin-right: 10px;
        &:nth-of-type(1) {
            left: auto;
        }
        &:nth-of-type(4) {
            left: auto;
        }
        &:nth-of-type(2) {
            right: auto;
        }
        &:nth-of-type(3) {
            right: auto;
        }
    }
}

#topMenu{
    left: 50px;
    padding: 0;
    background-color: transparent;
    width: auto;
    border-bottom: 0;
}

.hamburger{
    display: none;
}

.SizeSelector{
    display: none;
    float: right;
    margin-top: -25px;
    span{
        display: inline-block;
        color: $gray;
        padding-right: 5px;
        cursor: pointer;
        svg{
            pointer-events: none;
        }
        &.active{
            color: $green;
			cursor: default;
        }
    } 
}

header.mainHeader{
	position: fixed;
    left: 0;
    height: 78px;
    padding: 20px;
	border-bottom: 1px solid $gray;
    width: 100%;
	text-align: center;
    background: white;
    h1{
        color: $black;
		min-width: 500px;
		width: 70%;
		margin: 30px auto;
		max-width: 600px;
    }
    nav{
        a{
            display: inline-block;
            font-size: 1em;
            padding: 5px 10px;
            background-color: $white;
            border: 1px solid $gray;
            margin-right: 10px;
            color: black;
            text-decoration: none;
            &:hover{
                background-color: $green;
                color: $white;
            }
            &.active{
                background-color: $green;
                color: $white;
            }
        }  
    }
    div{
        display: inline-block;
    }
	.accountOptions{
		width: 90px;
		position: relative;
		margin-right: 10px;
		a{
			padding: 5px 0px;
			margin-right: 0;
			display: none;
			position: absolute;
			width: 90px;
			&:first-child{
				display: block;
				position: relative;
			}
			&:nth-child(2){
				top: 100%;
			}
			&:nth-child(3){
				top: 200%;
			}
		}
		&:hover{
			a{
				display: block;
			}
		}
	}
} 
#header{
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.menu{
    position: relative;
}

#sortPanel {
    width: 200px;
    top: 100px;
    .wrap{
        width: auto;
        a{
            display: table;
        }
    }
}

#banner, #introPanel.active, #loginPanel, #sharePanel, #sortPanel{
    overflow: auto;
    position: relative;
    top: auto;
    @include transform(translateY(0));
}

#introPanel{
    padding: 20px;
}

#aboutPanel{
    display: none;
}

#thelist{
    max-width: 100%;
    margin: 0 auto;
	padding: 0;
}



.edit-page{
     .container{
         @include row();
        .header{
            @include span-columns(3);
            position: fixed;
            top: 0;
            left: 0;
            padding: 50px;
            
        }
         .content{
             @include shift(3);
            @include span-columns(9);
            
        }

    }   
}


.home, .glance, .current, .future{
    padding: 0 0;
}
// CURRENT PAGE
.mainList{
    .left-col{
        @include span-columns(4);
        position: fixed;
        top: 100px;
    }
    .right-col{
        @include span-columns(0);
        position: fixed;
        float: none;
        right: 0;
	}
	.main-col{
        @include span-columns(8);
        @include shift(4);
	}
}

.hoodNav{
    ul{
        display: block;
    }
    select{
        display: none;
    }
}

// LISTINGS
.listingsWrap{
    @include span-columns(9);
    .city{
        margin-top: -100px;
        padding-top: 100px;
    }
}
.venue{
    &:hover{
        .address{
            opacity: 1;
        }
    }
}
.listing{
    p{
        font-size: 16px;
    }
}

.condensed{
    .listing{
        .listingAdd{
            .addButton{
                &:hover{
                    color: $green;
                }
            }
        }
    }
}

// EVENTS

.events{
    .left-col{
        @include span-columns(3);
        position: fixed;
        float: none;
        padding-right: 4%;
        .DayPicker{
            @include transform(translateX(-20px));
        }
    }
	.main-col{
        @include span-columns(7);
        @include shift(3);
	}
}

//GLANCE
.glance{
    ul.tabs__labels{
        padding: 0;
		@include span-columns(2);
    }
	div.tabs__content{
        @include span-columns(10);
        .day{
            @include row();
            .listingsWrap{
                @include span-columns(8);
            }
            .featuredSection{
                @include span-columns(4);
            }
        }
	}
}
.feature-wrap{
    .image{
        @include span-columns(12);
    }
    .info{
        margin-top: 30px;
        @include span-columns(12);
    } 
}

.iconLink{
    cursor: pointer;
    &:hover{
        @include transform(scale(1.1));
    }
}


// MAPS
.map.app-container, .mylist.connected.app-container{
    min-height: 100%;
    padding: 0;
    max-width: none;
    position: absolute;
    width: 100%;
    .app-content{
        min-height: 100%;
        position: absolute;
        width: 100%;
    }
}

.mapInfo{
    @include span-columns(4);
    @include omega();
    height: 100%;
    padding: 0px 40px 50px 0;
    display: flex;
    flex-direction: column;
    h2{
        font-size: 2em;
    }
    .mapHeader{
        order: 1;
        flex: 1 auto;
        position: relative;
        margin-bottom: 30px;
    }
    .content{
        order: 2;
    }
    .footer{
        order: 3;
        flex: 1 auto;
        margin-top: 0;
    }
}
.mapWrap{
    @include span-columns(8);
    @include shift(4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    .label{
        display: block;
        position: absolute;
        background-color: $black;
        color: $white;
        font-size: .7em;
        margin-left: 5px;
        padding: 5px;
    }
}   

// MyList
.mylist.app-container{
    padding: 0;
    max-width: none;
}
.myList{
    .listing{
        &:hover{
            .listingAdd{
                span{
                    background-color: $green;
                    color: white;
                }
            }
        }
    }
    .popupList{
        position: fixed;
        z-index: 99;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(256, 256, 256, .5);
        //background-image: url(../images/map-bg.png);
        div{
            background: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            padding: 50px;
            border-radius: 10px;
        }
    }
}
.SignIn{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url(../images/map-bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        & > div{
            background-color: $white;
            position: absolute;
            width: 100%;
            max-width: 500px;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%, -50%));
            padding: 50px;
            border-radius: 10px;
        }
}


//VENUE PAGE
.venuePage{
    .mapInfo{
        @include span-columns(6);
        @include omega();
    }
    .mapWrap{
        @include span-columns(6);
        @include shift(6);
        @include omega();
    }
}