/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

h2{
    font-size: 2em;
}

#banner{
    width: auto;
    padding: 20px;
    a{
        position: relative;
        display: inline-block;
        margin-right: 10px;
        &:nth-of-type(1) {
            left: auto;
        }
        &:nth-of-type(4) {
            left: auto;
        }
        &:nth-of-type(2) {
            right: auto;
        }
        &:nth-of-type(3) {
            right: auto;
        }
    }
}

header.mainHeader{
	position: fixed;
	left: 0;
	padding: 30px;
	border-bottom: 1px solid $gray;
    margin-bottom: 30px;
    width: 100%;
	text-align: center;
	z-index: 99;
    background: white;
    h1{
        color: $black;
		min-width: 500px;
		width: 70%;
		margin: 30px auto;
		max-width: 600px;
    }
    a{
        padding: 5px 10px;
        background-color: $white;
		border: 1px solid $gray;
        margin-right: 10px;
        color: black;
        text-decoration: none;
        &:hover{
            background-color: $green;
			color: $white;
        }
        &.active{
            background-color: $green;
			color: $white;
        }
    }  
    div{
        display: inline-block;
    }
	.accountOptions{
		width: 90px;
		position: relative;
		margin-right: 10px;
		a{
			padding: 5px 0px;
			margin-right: 0;
			display: none;
			position: absolute;
			width: 90px;
			&:first-child{
				display: block;
				position: relative;
			}
			&:nth-child(2){
				top: 100%;
			}
			&:nth-child(3){
				top: 200%;
			}
		}
		&:hover{
			a{
				display: block;
			}
		}
	}
} 
#header{
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.menu{
    position: relative;
}

#sortPanel {
    width: 200px;
    top: 100px;
    .wrap{
        width: auto;
        a{
            display: table;
        }
    }
}

#banner, #introPanel.active, #loginPanel, #sharePanel, #sortPanel{
    overflow: auto;
    position: relative;
    top: auto;
    @include transform(translateY(0));
}

#introPanel{
    padding: 20px;
}

#aboutPanel{
    display: none;
}

#thelist{
    max-width: 1400px;
    margin: 0 auto;
	padding: 50px 50px 0;
}

.app-content{
    padding: 150px 0 100px;
}

.edit-page{
     .container{
         @include row();
        .header{
            @include span-columns(3);
            position: fixed;
            top: 0;
            left: 0;
            padding: 50px;
            
        }
         .content{
             @include shift(3);
            @include span-columns(9);
            
        }

    }   
}

// LISTINGS

.listing{
    p{
        font-size: 16px;
    }
}


// CURRENT PAGE
.mainList{
	.left-col, .right-col{
		@include span-columns(2);
	}
	.main-col{
		@include span-columns(8);
	}
}

// MyList
.myList{
    .mapWrap{
        @include span-columns(6);
    }
    .listingsWrap{
        @include span-columns(6);
    } 
}