/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/


@mixin leftNavStyle() {
	a {
		text-decoration: none;
		color: black;
		&.active {
			font-weight: bold;
			color: $green;
		}
	}
}

/*********************
GENERAL STYLES
*********************/

html{
    height: 100%;
}

body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: "Futura", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a {
  color: #00B7FF;
}

#thelist{
    min-height: 100%;
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
	padding: 50px 50px 0;
}

.app-content{
    padding: 150px 0 100px;
}

footer{
    padding: 0 50px;
    position: absolute;
    bottom: 10px;
	font-size: .7em;
}

/*********************
COLUMNS
*********************/

.column-1of4{
    @include span-columns(3);
}
.column-3of4{
    @include span-columns(9);
}
.column-1of3{
    @include span-columns(4);
}
.column-2of3{
    @include span-columns(8);
}

/*********************
BUTTONS
*********************/

a.facebookbutton{
    background: #3b5998;
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    letter-spacing: .03em;
    margin: 20px 0;
    i{
        margin-right: 10px;
    }
}

/******************
HEADER
********************/
#topMenu{
	max-width: 1400px;
	border-bottom: 1px solid $gray;
	padding: 0 20px 10px;
    background: white;
    z-index: 99;
    position: fixed;
    width: 100%;
    left: 50%;
	@include transform(translateX(-50%));
	img{
		max-height: 30px;
    	margin-top: 10px;
	}
	a{
		color: black;
		margin: 0 15px;
		font-size: 14px;
		text-transform: uppercase;
		padding-bottom: 5px;
		&:hover{
			&:nth-of-type(1){
				border-bottom: 3px $red solid;
			}
			&:nth-of-type(2){
				border-bottom: 3px $green solid;
			}
			&:nth-of-type(3){
				border-bottom: 3px $purple solid;
			}	
		}
	}
}

.loginForm {
    max-width: 500px;
    margin: 50px auto;
    background-color: #F6F6f6;
    padding: 20px 50px;
    border-radius: 5px;
}

/*********************
Main PAGES
*********************/
.home, .glance, .current{
    @include row();
}

.mainList{
	@include row();
	.left-col, .right-col{
		@include span-columns(2);
		    min-height: 1px;
		img{
			max-width: 100%;
		}
	}
	.main-col{
		@include span-columns(8);
	}
}

.listingsWrap{
    @include span-columns(9);
    .neighborhood{
        @include row();
    }
}

.currentMap{
    position: fixed;
	width: 100%;
	height: 100%;
    top: 0;
    left: 0;
}



.featuredSection{
    @include span-columns(3);
}


/*********************
LISTING ELEMENTS
*********************/
.listing{
    @include transition(.3s);
    background: #fff;
    .listingAdd{
        .addButton{
            overflow: hidden;
            background-size: cover;
            position: relative;
			font-size: 30px;
            color: $black;
            &.active{
                cursor: pointer;   
            }
            i{
                opacity: 0;
                top: 50%;
                left: 50%;
                position: absolute;
                @include transform(translate(-50%, -50%));
                @include transition(.3s);
            }
            span{
                top: 50%;
                left: 50%;
                position: absolute;
                @include transform(translate(-50%, -50%));
            }
            &:hover{
                i{
                    opacity: 1;
                }
            }
        }
    }
	.popular{
		background-color: antiquewhite;
		padding: 3px 5px;
		border-radius: 3px;
		display: inline-block;
	}
    .listingClose{
        @include span-columns(1);
        padding-top: 5px;
        text-align: right;
    }
    &.active{
        background-color: #F6F6F6;
    }
    &.selected{
        background-color: beige;
    }
    a{
        font-weight: 400;
        text-decoration: none;
    }
    p{
        margin: 5px 0;
        font-size: 16px;
        white-space: pre-wrap;
    }
}
.small{
    .listing{
        padding: 0px 10px 10px;
        @include row();
		p{
			font-size: 15px;
    		line-height: 1;
		}
    }
    .listingAdd{
        @include span-columns(1);
            .addButton{
                width: 20px;
                height: 20px;
                border: 0;
                background-size: 0;
            }
    }
    .listingContent{
        @include span-columns(10);
    }
}
.medium{
    .listing{
		padding-bottom: 20px;
        @include row();
        .listingAdd{
            @include span-columns(2);
            .addButton{
                width: 100%;
                height: 70px;
            }
        }
        .listingContent{
            @include span-columns(9);
        }
    }
}
.large{
    h2{
        @include span-columns(12);
    }
    .listing{
        padding: 0px 10px 20px;
        @include span-columns(4);
        @include omega(3n);
        .listingAdd{
            @include span-columns(12);
            .addButton{
                width: 100%;
                height: 100px;
            }
        }
        .listingContent{
            @include span-columns(12);
        }
        .listingClose{
            @include span-columns(12);
            text-align: center;
        }
    }
}
.placeholder{
    opacity: 0;
}
.selectorBlock{
    float: right;
    i{
        color: $gray;
        padding-right: 5px;
		cursor: pointer;
        &.active{
            color: $green;
			cursor: default;
        }
    } 
}
.venueName{
    font-weight: bold
}

/*********************
VENUE ELEMENTS
*********************/

.venue{
    &.expired{
        a{
            color: $red;   
        }
        &.old{
            a{
                color: $gray;
            }
        }
        &.upcoming{
            a{
                color: orange;
            }
        }
    }
    a{
        color: green;
        text-decoration: none;
    }
    div{
        margin-left: 50px;
    }
}

/*********************
HEADER
*********************/

header.mainHeader{
	position: fixed;
	left: 0;
	padding: 30px;
	border-bottom: 1px solid $gray;
    margin-bottom: 30px;
    width: 100%;
	text-align: center;
	z-index: 99;
    background: white;
    h1{
        color: $black;
		min-width: 500px;
		width: 70%;
		margin: 30px auto;
		max-width: 600px;
    }
    a{
        padding: 5px 10px;
        background-color: $white;
		border: 1px solid $gray;
        margin-right: 10px;
        color: black;
        text-decoration: none;
        &:hover{
            background-color: $green;
			color: $white;
        }
        &.active{
            background-color: $green;
			color: $white;
        }
    }  
    div{
        display: inline-block;
    }
	.accountOptions{
		width: 90px;
		position: relative;
		margin-right: 10px;
		a{
			padding: 5px 0px;
			margin-right: 0;
			display: none;
			position: absolute;
			width: 90px;
			&:first-child{
				display: block;
				position: relative;
			}
			&:nth-child(2){
				top: 100%;
			}
			&:nth-child(3){
				top: 200%;
			}
		}
		&:hover{
			a{
				display: block;
			}
		}
	}
} 


/*********************
AT A GLANCE
*********************/

.glance{
    ul.tabs__labels{
        padding: 0;
		@include span-columns(2);
		li{
			@include leftNavStyle();
		}
    }
	div.tabs__content{
		@include span-columns(10);
		.listingsWrap{
			@include span-columns(8);
		}
		.featuredSection{
			@include span-columns(4);
		}
	}
}
.feature-wrap{
    img{
        width: 100%;
    }   
}


/*********************
CURRENT & FUTURE
*********************/

	.hoodNav{
		@include leftNavStyle();
		&.fixed{
			position: fixed;
			top: 100px;
		}
	}

/*********************
ACCOUNT
*********************/

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    img{
        width: 100%;
        min-height: 100%;
        opacity: .5;
        @include transition(.5s);
    }
    &.loading{
        img{
            filter: blur(3px);   
        }
    }
    &.loaded{
        img{
            opacity: 1;
        }
    }
    
}

/*********************
My List
*********************/

.myList{
    @include row();
	position: relative;
	.fb-share-button{
		position: absolute;
		top: 0;
		right: 0;
	}
	.listInfo{
		margin-bottom: 20px;
		img.avatar{
			width: 100px;
			height: 100px;
			float: left;
			margin-right: 20px;
		}
	}
    .listingsWrap{
        @include span-columns(6);
        .listing{
			.delete{
				cursor: pointer;
				color: $red;
				@include transition(.2s);
				&:hover{
					color: red;
				}
			}
        }
    }   
}


/*********************
Google Map
*********************/

.mapWrap{
    @include span-columns(6);
    margin-bottom: 20px;
}

.mapboxgl-marker{
    .marker{
        background-color: beige;
        color: black;
        text-align: center;
        border-radius: 50%;
        border: 1px solid black;
        width: 2em;
        height: 2em;
        padding: .3em;
        @include transition(.2s);
    }
    &.active{
        .marker{
            background-color: $red;
            color: $white;
        }
    }
}

/*********************
Venue Page
*********************/

.venuePage{
    @include row();
    .infoWrap{
        @include span-columns(6);
        h2{
            margin-top: 0;
        }
    }
    .mapWrap{
        @include span-columns(6);
        @include omega();
    }
    .listingsWrap{
        @include span-columns(12);
        border-top: 1px solid $black;
        margin-top: 20px;
        padding-top: 20px;
        li{
            display: inline-block;
            float: left;
            padding-right: 20px;
            a{
                color: $black;
                text-decoration: none;
                &.active, &:hover{
                    color: $red;
                }
            }
        }
    }
}

/*********************
ADMIN
*********************/
.admin{
    header{
        padding-left: 0;
		a{
			text-decoration: none;
			padding-right: 20px;
			color: $black;
			&.active{
				color: $green;
				font-weight: bold;
			}
		}
    }
}

.usersWrap{
	@include row();
	.allUsers{
		@include span-columns(6);
		.user{
			@include row();
			border: 1px solid $black;
			padding: 10px;
			margin-bottom: 20px;
			.image{
				@include span-columns(2);
				line-height: 0;
				img{
					max-width: 100%;
				}
			}
			.info{
				@include span-columns(10);
			}
		}
	}
}

#listingForm, #newlistingDemo{
    float: left;
    width: 50%;
}

label{
    display: block!important;
    @include span-columns(2);
}
.formSection{
    @include span-columns(10);
    @include omega();
    padding-bottom: 20px;
    textarea, input{
        width: 100%;
    }
}
input.invalid{
    border: 2px solid red!important;
}


#listingForm{
    padding-right: 50px;
    @include row();
}

#newlistingDemo{
    .listing{
        width: 100%;
        border: 1px solid grey;
        padding-top: 20px;
        .moreInfo{
            display: block;
        }
    }
}

#ListingList, #ListingInfo{
    width: 50%;
    float: left;
}
#ListingList{
    padding-right: 50px;
}

.editVenue{
    .venueList{
        padding-bottom: 20px;
    }
}

//Style placeholder text
input::-webkit-input-placeholder,/* Chrome/Opera/Safari */
option{ 
  color: #C9C9C9;
}

/*********************
GRID
*********************/

.d-1of2{
    float: left;
    width: 50%;
}