/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/


@mixin leftNavStyle() {
	a {
		text-decoration: none;
		color: black;
		&.active {
			font-weight: bold;
			color: $green;
		}
	}
}

/*********************
GENERAL STYLES
*********************/

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Futura", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a {
  color: #00B7FF;
}

#thelist{
    min-height: 100%;
    position: relative;
	padding: 0 10px;
}

.app-content{
    //transform: none!important;
    margin: 100px auto;
    width: 96%
}

footer{
    padding: 0 50px;
    position: absolute;
    bottom: 10px;
	font-size: .7em;
}


/*********************
COLUMNS
*********************/

.column-1of4{
    @include span-columns(3);
}
.column-3of4{
    @include span-columns(9);
}
.column-1of3{
    @include span-columns(4);
}
.column-2of3{
    @include span-columns(8);
}

/*********************
BUTTONS
*********************/

body button{
    margin-right: 10px;
}

a.facebookbutton{
    background: #3b5998;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    color: white!important;
    text-decoration: none;
    letter-spacing: .03em;
    margin: 20px 0;
    cursor: pointer;
    @include transition(.5s);
    &:hover{
        background-color: #2f457a;
    }
    svg{
        margin-right: 10px;
    }
}
/******************
HEADER
********************/
#topMenu{
	padding: 0 20px 10px;
    z-index: 99;
    position: fixed;
    background-color: $white;
    width: 100%;
    border-bottom: 1px solid $gray;
	img{
		max-height: 30px;
    	margin-top: 10px;
	}
}

.loginForm {
    max-width: 500px;
    margin: 50px auto;
    background-color: #F6F6f6;
    padding: 20px 50px;
    border-radius: 5px;
}

/*********************
Main PAGES
*********************/
.home, .glance, .current{
    @include row();
}

.mainList{
	@include row();
	.left-col, .right-col{
		    min-height: 1px;
		img{
			max-width: 100%;
		}
    }
    .right-col{
    }
	.main-col{
        @include span-columns(12);
	}
}

.listingsWrap{
    @include span-columns(9);
    .city{
        margin-top: -50px;
        padding-top: 50px;
        .neighborhood{
            @include row();
        }
        &:nth-of-type(2){
            h2{
                margin-top: 0;
            }
        }
    }
    h2{
        font-size: 1.2em;
        margin: 50px 0 20px;
        font-weight: 200;
        border-bottom: 1px solid green;
        padding-bottom: 5px;
        display: inline-block;
    }
    &> h2:first-of-type{
        margin-top: 0;
    }
    &> .date:first-of-type{
        h2{
            margin-top: 0;
        }
    }
}

.currentMap{
	width: 100%;
	height: 100%;
    .mapWrap{
        position: fixed;
        top: 0;
        left: 0;
        @include span-columns(12);
        .label{
            display: none;
        }
    }
    .list{
        position: fixed;
        bottom: 0;
        left: 0;
        max-height: 300px;
        width: 100%;
        background: #fff;
        z-index: 2;
        padding: 20px 20px 20px;
        overflow: auto;
    }
    .cityJump{
        margin-top: 20px;
    }
}



.featuredSection{
    @include span-columns(3);
}


/*********************
LISTING ELEMENTS
*********************/
.listing{
    @include transition(.3s);
    background: #fff;
    .listingAdd{
        .addButton{
            overflow: hidden;
            background-size: cover;
            position: relative;
			font-size: 30px;
            color: $black;
            border: 0px solid $green;
            box-sizing: content-box;
            @include transition(.2s);
            &.active{
                cursor: pointer;   
            }
            svg{
                opacity: 0.2;
                top: 50%;
                left: 50%;
                position: absolute;
                @include transform(translate(-50%, -50%));
                @include transition(.3s);
            }
            span{
                top: 50%;
                left: 50%;
                position: absolute;
                @include transform(translate(-50%, -50%));
            }
            &:hover{
                svg{
                    opacity: 1;
                }
            }
        }
    }
    .listingContent{
        p{
            margin-bottom: 0;
            .title{
                font-weight: 500;
            }
        }
    }
	.popular{
		background-color: antiquewhite;
		padding: 3px 5px;
		border-radius: 3px;
		display: inline-block;
	}
    .listingClose{
        //@include span-columns(1);
        padding-top: 5px;
        text-align: right;
    }
    .listingActions{
        text-align: right;
        .delete, .edit{
            cursor: pointer;
            font-size: .8em;
            margin-right: 10px;
            @include transition(.2s);
            
        }
        .delete{
            color: $red;
            &:hover{
                color: red;
            }
        }
        .edit{
            color: $blue;
            &:hover{
                color: blue;
            }
        }
    }
    &.active{
        .fa-info-circle{
            color: $green;
        }
        .moreInfo{
            background-color: #f5f5f5;
            padding: 10px;
            border-radius: 5px;
        }
    }
    &.selected{
        .addButton{
            border: 3px solid $green;
        }
    }
    a{
        font-weight: 400;
        text-decoration: none;
    }
    p{
        margin: 0 0 10px;
        font-size: 14px;
        white-space: pre-wrap;
    }
}
.small{
    .listing{
        padding: 0px 10px 10px;
        @include row();
		p{
			font-size: 15px;
    		line-height: 1;
		}
    }
    .listingAdd{
        @include span-columns(1);
            .addButton{
                width: 20px;
                height: 20px;
                border: 0;
                background-size: 0;
            }
    }
    .listingContent{
        @include span-columns(11);
    }
}
.medium{
    .listing{
		padding-bottom: 20px;
        @include row();
        .listingAdd{
            @include span-columns(1);
            .addButton{
                width: 100%;
                height: 0;
                padding-top: 100%;
                border-radius: 50%;
            }
        }
        .listingContent{
            @include span-columns(11);
        }
    }
}
.large{
    h2{
        @include span-columns(12);
    }
    .listing{
        padding: 0px 10px 20px;
        @include span-columns(4);
        @include omega(3n);
        .listingAdd{
            @include span-columns(12);
            .addButton{
                width: 100%;
                height: 100px;
            }
        }
        .listingContent{
            @include span-columns(12);
        }
        .listingClose{
            @include span-columns(12);
            text-align: center;
        }
    }
}
.placeholder{
    opacity: 0;
}
.selectorBlock{
    float: right;
    i{
        color: $gray;
        padding-right: 5px;
		cursor: pointer;
        &.active{
            color: $green;
			cursor: default;
        }
    } 
}
.venueName{
    font-weight: bold
}

/*********************
VENUE ELEMENTS
*********************/

.venue{
    &.expired{
        a{
            color: $red;   
        }
        &.old{
            a{
                color: $gray;
            }
        }
        &.upcoming{
            a{
                color: orange;
            }
        }
    }
    a{
        color: green;
        text-decoration: none;
    }
    div{
        margin-left: 50px;
    }
}

/*********************
HEADER
*********************/

.hamburger{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
    font-size: 20px;
}

header.mainHeader{
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    padding: 50px;
    z-index: 98;
    background-color: $white;
    @include transition(.3s);
    &.active{
        left: 0;
    }
    nav{
        a{
            color: $black;
            font-size: 2em;
            display: block;
        }
    }
} 


/*********************
AT A GLANCE
*********************/

.glance{
    ul.tabs__labels{
        padding: 0;
		li{
			@include leftNavStyle();
		}
    }
	div.tabs__content{
        .day{
            display: flex;
            flex-direction: column-reverse;
            .listingsWrap{
                margin-top: 20px;
                @include span-columns(12);
            }
            .featuredSection{
                @include span-columns(12);
            }
        }
	}
}
.feature-wrap{
    @include row();
    padding: 20px 0;
    border-bottom: 1px solid $gray;
    h4{
        font-size: 1em;
        font-style: italic;
    }
    .image{
        @include span-columns(4);
        img{
            width: 100%;
        }  
    }
    .info{
        @include span-columns(8);
        h3{
            font-size: 1.2em;
        }
    } 
}


/*********************
CURRENT & FUTURE
*********************/

	.hoodNav{
		@include leftNavStyle();
		&.fixed{
			position: fixed;
			top: 100px;
		}
	}

/*********************
ACCOUNT
*********************/

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    img{
        width: 100%;
        min-height: 100%;
        opacity: .5;
        @include transition(.5s);
    }
    &.loading{
        img{
            filter: blur(3px);   
        }
    }
    &.loaded{
        img{
            opacity: 1;
        }
    }
    
}

/*********************
My List
*********************/

.myList{
    @include row();
    position: relative;
	.fb-share-button{
		position: absolute;
		top: 0;
		right: 0;
    }
    .mapWrap{
        margin-bottom: 20px;
    }
    .listing{
        &:hover{
            .listingAdd{
                @include transform(scale(1.1));
                span{
                    border-color: $green;
                }
            }
        }
        .listingAdd{
            position: relative;
            min-height: 100px;
            transition: .5s;
            span{
                border: 1px solid $black;
                padding: 10px;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                display: inline-block;
                text-align: center;
                line-height: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
            }
        }
    }
    
	.listInfo{
		margin-bottom: 20px;
		img.avatar{
			width: 100px;
			height: 100px;
			float: left;
			margin-right: 20px;
		}
	}
    .listingsWrap{
        @include span-columns(12);
        .listing{
            background-color: transparent;
        }
    }   
}

.mapboxgl-marker{
    .marker{
        background-color: beige;
        color: black;
        text-align: center;
        border-radius: 50%;
        border: 1px solid black;
        width: 2em;
        height: 2em;
        padding: .3em;
        @include transition(.2s);
    }
    &.active{
        .marker{
            background-color: $red;
            color: $white;
        }
    }
}

/*********************
Venue Page
*********************/

.venuePage{
    @include row();
    .infoWrap{
        @include span-columns(6);
        h2{
            margin-top: 0;
        }
    }
    .mapWrap{
        @include span-columns(6);
        @include omega();
    }
    .listingsWrap{
        @include span-columns(12);
        border-top: 1px solid $black;
        margin-top: 20px;
        padding-top: 20px;
        li{
            display: inline-block;
            float: left;
            padding-right: 20px;
            a{
                color: $black;
                text-decoration: none;
                &.active, &:hover{
                    color: $red;
                }
            }
        }
    }
}

/*********************
ADMIN
*********************/
.admin{
    header{
        padding-left: 0;
		a{
			text-decoration: none;
			padding-right: 20px;
			color: $black;
			&.active{
				color: $green;
				font-weight: bold;
			}
		}
    }
    .admin-content{
        .tabs__content{ //Feature Admin
            @include row();
        }
    }
}

.DraftEditor-root{
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
    p{
        padding-bottom: 20px;
    }
}

.usersWrap{
	@include row();
	.allUsers{
		@include span-columns(6);
		.user{
			@include row();
			border: 1px solid $black;
			padding: 10px;
			margin-bottom: 20px;
			.image{
				@include span-columns(2);
				line-height: 0;
				img{
					max-width: 100%;
				}
			}
			.info{
				@include span-columns(10);
			}
		}
	}
}

//User popover
.userLink{
    a{
        border-bottom: 2px dotted $green;
        cursor: pointer;
    }
}
.popover{
    .popover-title, .popover-content{
        padding: 10px;
    }
    .popover-title{
        img{
            display: inline-block;
            max-width: 50px;
            max-height: 50px;
        }
    }
}


#listingForm, #newlistingDemo{
    float: left;
    width: 50%;
}


//Sidemenu
.sideMenu{
    padding-top: 100px;
    height: 100%;
    background-color: #eee;
    a.close{
        padding: 20px;
        font-size: 20px;
        float: none;
    }
    #listingForm{
        float: none;
        width: 100%;
        padding: 20px;
    }
}

label{
    display: block!important;
    @include span-columns(2);
}
.formSection{
    @include span-columns(10);
    @include omega();
    padding-bottom: 20px;
    textarea, input{
        width: 100%;
    }
}
input.invalid{
    border: 2px solid red!important;
}
.eventsform{
    .event{
        select{ //Type of event
            width: auto;
            padding: 0 30px 0 10px;
            display: inline-block;
            margin-right: 20px;
        }
    }
}
.iconLink{
    margin-right: 10px;
    cursor: pointer;
    &:hover{
        @include transform(scale(1.1));
    }
}


#listingForm{
    padding-right: 50px;
    @include row();
}

#newlistingDemo{
    .listing{
        width: 100%;
        border: 1px solid grey;
        padding-top: 20px;
        .moreInfo{
            display: block;
        }
    }
}

#ListingList, #ListingInfo{
    width: 50%;
    float: left;
}
#ListingList{
    padding-right: 50px;
}

.editVenue{
    .venueList{
        padding-bottom: 20px;
    }
}

.imageDrop{
    width: 100%;
    height: 70px;
    border: 2px dotted $black;
    background: $gray;
    border-radius: 20px;
    padding: 20px;
    &.formSection{
        border-color: $green;
        p{
            display: none;
        }
    }
}

//Style placeholder text
input::-webkit-input-placeholder,/* Chrome/Opera/Safari */
option{ 
  color: #C9C9C9;
}

/*********************
GRID
*********************/

.d-1of2{
    float: left;
    width: 50%;
}