/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/


/*********************
GENERAL STYLES
*********************/

html{
    height: 100%;
}

body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: "Futura", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a {
  color: #00B7FF;
}

#thelist{
    min-height: 100%;
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
}

.app-content{
    padding: 130px 50px 100px;
}

footer{
    padding: 0 50px 50px;
    position: absolute;
    bottom: 0;
}

/*********************
COLUMNS
*********************/

.column-1of4{
    @include span-columns(3);
}
.column-3of4{
    @include span-columns(9);
}
.column-1of3{
    @include span-columns(4);
}
.column-2of3{
    @include span-columns(8);
}

/*********************
BUTTONS
*********************/

a.facebookbutton{
    background: #3b5998;
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
    letter-spacing: .03em;
    margin: 20px 0;
    i{
        margin-right: 10px;
    }
}

/*********************
INDEX PAGE
*********************/
.home, .glance, .current{
    @include row();
}

.listingsWrap{
    @include span-columns(9);
    .neighborhood{
        @include row();
    }
}



.featuredSection{
    @include span-columns(3);
}


/*********************
LISTING ELEMENTS
*********************/
.listing{
    @include transition(.3s);
    background: #fff;
    .listingAdd{
        .addButton{
            overflow: hidden;
            background-size: cover;
            border: 1px solid grey;
            position: relative;
            &.active{
                cursor: pointer;   
            }
            font-size: 30px;
            color: $black;
            i{
                opacity: 0;
                top: 50%;
                left: 50%;
                position: absolute;
                @include transform(translate(-50%, -50%));
                @include transition(.3s);
            }
            span{
                top: 50%;
                left: 50%;
                position: absolute;
                @include transform(translate(-50%, -50%));
            }
            &:hover{
                i{
                    opacity: 1;
                }
            }
        }
    }
    .listingClose{
        @include span-columns(1);
        padding-top: 5px;
        text-align: right;
        .fa-minus-square-o{
            display: none;
        }
    }
    .moreInfo{
        display: none;
    }
    &.active{
        background-color: antiquewhite;
        .moreInfo{
        display: block;
        }
        .listingClose{
            .fa-plus-square-o{
                display: none;
            }
            .fa-minus-square-o{
                display: inline-block;
            }
        }
    }
    &.selected{
        background-color: beige;
    }
    a{
        font-weight: 400;
        text-decoration: none;
    }
    p{
        margin: 5px 0;
        font-size: 16px;
        white-space: pre-wrap;
    }
}
.small{
    .listing{
        padding: 0px 10px 10px;
        @include row();
    }
    .listingAdd{
        @include span-columns(1);
            .addButton{
                width: 20px;
                height: 20px;
                border: 0;
                background-size: 0;
            }
    }
    .listingContent{
        @include span-columns(10);
    }
}
.medium{
    .listing{
        padding: 0px 10px 20px;
        @include row();
        .listingAdd{
            @include span-columns(2);
            .addButton{
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
        .listingContent{
            @include span-columns(9);
        }
    }
}
.large{
    h2{
        @include span-columns(12);
    }
    .listing{
        padding: 0px 10px 20px;
        @include span-columns(4);
        @include omega(3n);
        .listingAdd{
            @include span-columns(12);
            .addButton{
                width: 100%;
                height: 100px;
            }
        }
        .listingContent{
            @include span-columns(12);
        }
        .listingClose{
            @include span-columns(12);
            text-align: center;
        }
    }
}
.placeholder{
    opacity: 0;
}
.selectorBlock{
    float: right;
    i{
        color: $gray;
        padding-right: 5px;
        &.active{
            color: $green;
        }
    } 
}
.venueName{
    font-weight: bold
}

/*********************
VENUE ELEMENTS
*********************/

.venue{
    &.expired{
        a{
            color: $red;   
        }
        &.old{
            a{
                color: $gray;
            }
        }
        &.upcoming{
            a{
                color: orange;
            }
        }
    }
    a{
        color: green;
        text-decoration: none;
    }
    div{
        margin-left: 50px;
    }
}

/*********************
HEADER
*********************/

header{
    h1{
        color: $red;
    }
    a{
        padding: 5px 10px;
        background-color: lightgrey;
        border-radius: 5px;
        margin-right: 10px;
        color: black;
        text-decoration: none;
        &:hover{
            background-color: antiquewhite;
        }
        &.active{
            background-color: antiquewhite;
        }
    }  
    div{
        display: inline-block;
    }
} 
.mainHeader{
        padding: 0px 50px 20px;
        position: fixed;
        background: white;
        top: 0;
        width: 100%;
        z-index: 99;
    }


/*********************
AT A GLANCE
*********************/

.glance{
    ul{
        padding: 0;
    }
    li{
        display: inline-block;
        padding-right: 20px;
        a{
            text-decoration: none;
            color: black;
            &.active{
                border-bottom: 2px solid red;
            }
        }
    }
}
.feature-wrap{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    img{
        width: 100%;
    }   
}

/*********************
ACCOUNT
*********************/

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    img{
        width: 100%;
        min-height: 100%;
        opacity: .5;
        @include transition(.5s);
    }
    &.loading{
        img{
            filter: blur(3px);   
        }
    }
    &.loaded{
        img{
            opacity: 1;
        }
    }
    
}

/*********************
My List
*********************/

.myList{
    @include row();
    .listing-wrap{
        @include span-columns(6);
        @include shift(6);
        .listing.selected{
            background-color: transparent;
        }
    }   
}


/*********************
Google Map
*********************/

.mapWrap{
    @include span-columns(12);
    margin-bottom: 20px;
}

.mapboxgl-marker{
    .marker{
        background-color: beige;
        color: black;
        text-align: center;
        border-radius: 50%;
        border: 1px solid black;
        width: 2em;
        height: 2em;
        padding: .3em;
        @include transition(.2s);
    }
    &.active{
        .marker{
            background-color: $red;
            color: $white;
        }
    }
}

/*********************
Venue Page
*********************/

.venuePage{
    @include row();
    .infoWrap{
        @include span-columns(6);
        h2{
            margin-top: 0;
        }
    }
    .mapWrap{
        @include span-columns(6);
        @include omega();
    }
    .listingsWrap{
        @include span-columns(12);
        border-top: 1px solid $black;
        margin-top: 20px;
        padding-top: 20px;
    }
}

/*********************
ADMIN
*********************/
.admin{
    header{
        padding-left: 0;
    }
}

#listingForm, #newlistingDemo{
    float: left;
    width: 50%;
}

label{
    display: block!important;
    @include span-columns(2);
}
.formSection{
    @include span-columns(10);
    @include omega();
    padding-bottom: 20px;
    textarea, input{
        width: 100%;
    }
}
input.invalid{
    border: 2px solid red!important;
}


#listingForm{
    padding-right: 50px;
    @include row();
}

#newlistingDemo{
    .listing{
        width: 100%;
        border: 1px solid grey;
        padding-top: 20px;
        .moreInfo{
            display: block;
        }
    }
}

#ListingList, #ListingInfo{
    width: 50%;
    float: left;
}
#ListingList{
    padding-right: 50px;
}